{% extends 'base/base.html' %}
{% block content %}
    <div class="container text-white">
        <form action="{% url 'tech:add_t' %}" method="post" name="myForm" onsubmit="return chCustom()">
            {% csrf_token %}
            <label for="ProblemName">Problem id</label>
            <input autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" name="ProblemName"
                   style="background-color: #b8daff"
                   class="form-control" type="text" placeholder="Type problem name to get suggestions" id="ProblemName"
                   value=""
                   onkeyup="filterFunctionP()">
            <div id="DropProb" class="dropdown">
                {% for problem in problems %}
                    <p class="btn btn-outline-success" id="item" style="display: none" id="{{ problem.id }}"
                       onclick="changeValueP('{{ problem.id }}')">{{ problem.name }}
                {% endfor %}
            </div>

            <label for="TopicName">Topic id <a href="{% url 'tech:add_topic' %}" class="btn btn-outline-success">Add
                topic</a> </label>
            <input autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" name="TopicName"
                   style="background-color: #b8daff"
                   class="form-control" type="text" placeholder="Type problem name to get suggestions" id="TopicName"
                   value=""
                   onkeyup="filterFunctionT()">
            <div id="DropTopic" class="dropdown">
                {% for topic in topics %}
                    <p class="btn btn-outline-success" id="item" style="display: none" id="{{ topic.id }}"
                       onclick="changeValueT('{{ topic.id }}')">{{ topic.name }}
                {% endfor %}
            </div>
            <label for="text">Technique</label>
            <textarea style="background-color: #b8daff" class="form-control" name="text" id="text" rows="3"></textarea>
            <label for="code">Code</label>
            <textarea style="background-color: #b8daff" class="form-control" name="code" id="code" rows="10"></textarea>
            <button class="btn btn-outline-success" type="submit">Send</button>
        </form>
        <script>
            function filterTask(a, filter) {
                let count = 0, i = 0;
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                let txtValue;
                for (i = 0; i < a.length; i++) {
                    if (count > 9) break;
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                        count = count + 1;
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }

            function filterFunctionP() {
                let input, filter, ul, li, a;
                input = document.getElementById("ProblemName");
                filter = input.value.toUpperCase();
                const probList = document.getElementById("DropProb");
                a = probList.getElementsByTagName("p");
                filterTask(a, filter)
            }

            function filterFunctionT() {
                let input, filter, a;
                input = document.getElementById("TopicName");
                filter = input.value.toUpperCase();
                const probList = document.getElementById("DropTopic");
                a = probList.getElementsByTagName("p");
                filterTask(a, filter)
            }

            function changeValueP(rec_id) {
                document.getElementById("ProblemName").value = rec_id;
                let input, a, i;
                input = document.getElementById("ProblemName");
                const problemList = document.getElementById("DropProb");
                a = div.getElementsByTagName("p");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
            }

            function changeValueT(rec_id) {
                document.getElementById("TopicName").value = rec_id;
                let input, a, i;
                input = document.getElementById("TopicName");
                var problemList = document.getElementById("DropTopic");
                a = div.getElementsByTagName("p");
                for (i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
            }

            function chCustom() {
                const topic = checkValT();
                const problem = checkValP();
                return topic && problem;
            }

            function checkValP() {
                const valueForm22 = document.getElementById("ProblemName").value.toString()
                const infoFound =
                {{ problem_list | safe }}
                for (let i = 0; i < infoFound.length; i++) {
                    if (infoFound[i] === valueForm22) {
                        return true;
                    }
                }
                alert("Enter correct problem ID. ID is number, not name")
                return false
            }

            function checkValT() {
                const valueForm22 = document.getElementById("TopicName").value.toString()
                const infoFound =
                {{ topic_list | safe }}
                for (let i = 0; i < infoFound.length; i++) {
                    if (infoFound[i] === valueForm22) {
                        return true;
                    }
                }
                alert(valueForm22)
                alert("Enter correct topic ID. ID is number, not name")
                return false
            }
        </script>
    </div>
{% endblock content %}