{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <a class="btn btn-success" href="{% url 'tech:add_t' %}">Add technique</a>
        <label for="TechStr"></label>
        <input onkeyup="filterFunctionP()" type="text" id="TechStr" placeholder="search here" size="20">
    <div id="DropTech">
        {% for tt in res %}
            <p class="text-white btn btn-info">{{ tt.text }}</p>
        {% endfor %}
    </div>
    </div>
    <script>
        function filterTask(a, filter) {
            let count = 0, i = 0;
            for (i = 0; i < a.length; i++) {
                a[i].style.display = "none";
            }
            let txtValue;
            for (i = 0; i < a.length; i++) {
                if (count > 9) break;
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                    count = count + 1;
                } else {
                    a[i].style.display = "none";
                }
            }
        }

        function filterFunctionP() {
            let input, filter, ul, li, a;
            input = document.getElementById("TechStr");
            filter = input.value.toUpperCase();
            const probList = document.getElementById("DropTech");
            a = probList.getElementsByTagName("p");
            filterTask(a, filter)
        }
    </script>
{% endblock content %}